.btn {
    padding: 4px 16px;
    border-radius: 1px solid black;
    cursor: pointer;
    color: blue;

}

.flex-all-center {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-1 {
    margin: 6px 0;
    text-align: center;
}

.my-2 {
    margin: 26px 10px;
}